@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #15161A;
  font-family: 'Chivo', sans-serif;
  overflow-x: hidden;
}

body {
  animation: fadeIn 3s;
}


a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}